body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

header{
    position: absolute;
    top: 14px;
    width: 100%;
    text-align: right;
}
header a{
    color: rgba(0,0,0);
    text-decoration: none;
    margin-right:  80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}
header a:hover{
    color: rgb(17, 99, 214);
}
main{
    background-image: url(./images/background.jpg);
    height:100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
main h1{
    margin: 0;
    font-size: 60px;
    mix-blend-mode:overlay ;
}